@font-face {
  font-family: 'title';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/monsterhunter3d.ttf');
}
@font-face {
  font-family: 'text';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/monsterhunter.ttf');
}

.logo{
  width:10rem;
}
h1{
  color: darkblue;
  font-size: 2em;
  letter-spacing: 2px;
  font-family: 'title';
}
button{
  margin: 0 10px;
  background: transparent;
  font-family: 'text';
    border: 3px solid #ccc;
  border-radius: 20px;
  padding: 4px;
  color: #ccc;
  font-size: 0.9rem;
  cursor: pointer;
}
button:disabled{
  opacity: 0.2;
  cursor: not-allowed;
}
button:hover{
  color: #fff;
  border-color: #fff;;
}
.content{
  text-align: left;
}
.specie-filter{
  font-size: 0.8rem;
}
.monsters{
  background: grey;
}
.card{
  padding: 8px 16px;
  background: #1b1b1b;
  margin: 16px 0;
  border-radius: 20px;
}
.card p{
  margin: 6px 0;
  color: #999;
}
.card h3{
  margin: 10px 0;
  color: #ffff57;
}
.monster-icon{
  width: 0.4rem;
}
